<!-- Navbar -->
<div class="navbar">
  <div class="container flex">
    <h1 class="logo">Your Logo</h1>
    <nav>
      <ul>
      <li><a href="how-it-works">How it works</a></li>
      <li><a href="franchise-list">Franchise list</a></li>
      <li><a href="franchising-guide">Franchising guide</a></li>
      <li><a href="franchising-guide" class="btn btn-contact btn-hover">Contact</a></li>
      </ul>
    </nav>
  </div>
</div>  

<!-- Main Section -->
<section class="main">
  <div class="container grid">
    <div class="main-leftArea">
      <h1>Lore ipsum dolor sit amet consectetur</h1>
      <span>Lorem</span>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</p>
      <a href="franchise-list" class="btn btn-outline btn-hover">See the best franchises <span><i class="fa-sharp fa-solid fa-play"></i></span></a>
    </div>
    <div class="main-rightArea">
      
        <div class="carousel">
          <div class="carousel__face"></div>
          <div class="carousel__face"></div>
          <div class="carousel__face"></div>
          <div class="carousel__face"></div>
          <div class="carousel__face"></div>
          <div class="carousel__face"></div>
          <div class="carousel__face"></div>
          <div class="carousel__face"></div>
          <div class="carousel__face"></div>
        </div>
      </div>
    </div>
</section>

<!-- list Section -->
<section class="list">
  <div class="container flex">
    <h2>Lorem Ipsum Dolor</h2>
    <ul>
      <li><span><i class="fa fa-3x fa-solid fa-check"></i></span>Lorem ipsum dolor sit amet.</li>
      <li><span><i class="fa-solid fa-check"></i></span>Aliquam tincidunt mauris eu risus.</li>
      <li><span><i class="fa-solid fa-check"></i></span>Morbi in sem quis dui placerat ornare, Pellentesque.</li>
      <li><span><i class="fa-solid fa-check"></i></span>Nunc dignissim risus id metus.</li>
      <li><span><i class="fa-solid fa-check"></i></span>Integer vitae libero ac risus egestas placerat.</li>
      <li><span><i class="fa-solid fa-check"></i></span>Vivamus vestibulum ntulla nec ante.</li>
      <li><span><i class="fa-solid fa-check"></i></span>Praesent placerat risus quis eros.</li>
      <li><span><i class="fa-solid fa-check"></i></span>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
    </ul>
  </div>
</section>

<!-- Image-slider Section -->
<section class="image-slider">
  <div class="container flex">    
      <h3 class="slider-heading text-center">Lorem ipsum dolor sit amet 
        adipiscing elit. Donec odio. Quisque volutpat mattis
        </h3>
      <p class=" text-center ">Lorem ipsum dolor sit amet. consectetuer adipiscing elit. Donec odio. Quisque volutpat maths eros. Nullam malesuada erat ut. 
        Suspendisse ulna nibh, viverra non, soave. suscipit
        </p>
  </div>
</section>

<!-- Info -->
<section class="info">
  <div class="container grid pr-0 mr-0"> 
    <div class="info-textarea text-left">   
      <h3 class="slider-heading">Lorem</h3>
      <span class="slider-heading">Ipsum Dolor</span>
      <p>Lorem Ipaum dead( sit amet, censectewr adlpIscing elit. sed do °named temper inceitdunt N labore et &Aare magna alicwa Integer enim neque voluwat ac lincidunt vitae semper.larneomer. eget nulls (actual edam dignissim dam guts enim. Efirn eu turpis egestas protium aenean pharetra magna ac. (mm nine faucibus
        a pellentesque sit amet poritnor eget dolor.
        </p>
        <p>
          Lorem msum dear sit ameL ccnsemetur adipiseing elit. 
          sed do eiusmod temper incididunt N labore et dcasre magna 
          aligua Sapien eget mi groin sed Item enim. Etiam sit amet nisi gurus in 
          moats mine sed Id. Placerat In egestas emt imperdiet EtIarn temper arci
           eu lobortis elemenwm nibh Mikis molestie none. Fells eget veal aligum sagmis
           id consecteeur
        </p>
        <span><a href="franchise-list">Read more...</a></span>
    </div>
      <img src="../assets/images/info-image.png" alt="Info-Image">
  
  
  
  </div>

</section>

<!-- service-cards -->
<section class="service-cards">
  <div class="container">
  <h1 class="text-center">Lorem msum dear sit ameL ccnsemetur adipiseing elit.</h1>
<div class="main-section flex">
  <div class="card text-center">   
      <div class="card-img">
          <img src="../assets/images/seo-image.png" alt="card-image-1">
      </div>
      <div class="card-body">
          <h3>Search Engine Marketing</h3>
          <p>To increase sales, we run campaigns that bring the clicks to your website</p>
      </div>   
  </div>
  <div class="card text-center">   
    <div class="card-img">
        <img src="../assets/images/Analysis-image.png" alt="card-image-2">
    </div>
    <div class="card-body">
        <h3>Search Engine Marketing</h3>
        <p>To increase sales, we run campaigns that bring the clicks to your website</p>
    </div>   
</div>
<div class="card text-center">   
  <div class="card-img">
      <img src="../assets/images/location-image.png" alt="card-image-3">
  </div>
  <div class="card-body">
      <h3>Search Engine Marketing</h3>
      <p>To increase sales, we run campaigns that bring the clicks to your website</p>
  </div>   
</div>
<div class="card text-center">   
  <div class="card-img">
      <img src="../assets/images/Analysis-image.png" alt="card-image-4">
  </div>
  <div class="card-body">
      <h3>Search Engine Marketing</h3>
      <p>To increase sales, we run campaigns that bring the clicks to your website</p>
  </div>   
</div>
<div class="card text-center">   
  <div class="card-img">
      <img src="../assets/images/location-image.png" alt="card-image-5">
  </div>
  <div class="card-body">
      <h3>Search Engine Marketing</h3>
      <p>To increase sales, we run campaigns that bring the clicks to your website</p>
  </div>   
</div>
<div class="card text-center">   
  <div class="card-img">
      <img src="../assets/images/seo-image.png" alt="card-image-6">
  </div>
  <div class="card-body">
      <h3>Search Engine Marketing</h3>
      <p>To increase sales, we run campaigns that bring the clicks to your website</p>
  </div>   
</div>
</div>
</div>
</section>

<!-- Step -->
<section class="step">

</section>

<!-- mac-franchise -->
<section class="mac-franchise">
<h3>mac-franchise</h3>
</section>

<!-- success-stories -->
<section class="success-stories">

</section>

<!-- schedule-meeting -->
<section class="schedule-meeting">

</section>

<!-- schedule-call -->
<section class="schedule-call">

</section>

<!-- footer -->
<section class="footer">

</section>


